<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div style="text-align:center" class="col-5">
    <h1>
      Welcome to {{ title }}!
      <div style="text-align:center">
        <h1>
          Welcome to {{ title }}!
        </h1>
      </div>
    </h1>
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
  <div class="col-7">
    <h2> Here are some links to help you start: this links is tutorial </h2>
    <ul>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
      </li>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
      </li>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
      </li>
    </ul>
    <br><br>
    <select class="select22" name="state" style="width: 250px;">
    <option>  </option>
    <option>Wyoming</option>
    <option>Zaraga</option>
    <option>Korasan</option>
  </select>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <app-appareil></app-appareil>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <app-sample></app-sample>
  </div></div>
  <hr><hr>
  <div class="row">
    <div class="col-6">
      <app-name-parent></app-name-parent><br>
      <app-joke></app-joke>
      <h4>this is for stack overflow question 1</h4>
      <app-pager></app-pager>
      <h4>this is for stack overflow question 2</h4>
      <app-auto-complete></app-auto-complete>
    </div>
    <div clas="col-6">
      <app-vote-taker></app-vote-taker>
      <app-data></app-data>
      <app-mission></app-mission>
      <app-joke2></app-joke2>
      <app-joke4></app-joke4>
      <app-product-details></app-product-details>
    </div>
  </div>
  <app-joke7></app-joke7>
  <router-outlet></router-outlet>
